<div class="block-header">
        <h2>DASHBOARD</h2>
    </div>
    <!-- Widgets -->
    <!-- #END# Widgets -->
    <!-- CPU Usage -->
    <div class="row clearfix">
    </div>
    <!-- #END# CPU Usage -->
    <div class="row clearfix">
        <!-- Visitors -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <!-- #END# Answered Tickets -->
 </div>
